#course{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}
#course h1{
    font-size: 1.2rem;
}
#course img{
    width: 600px;
    align-self: center;
}
#course p {
    font-size: small;
}

#course ul {
    margin-left: 2rem;
}

#course .name {
    display: flex ;
    justify-content: space-between;
    align-items: center;
}

#course button {
    padding: .5rem 1rem;
    border: none;
    cursor: pointer;

}

#course .enroll {
    background-color: #6E3877;
    color: #eee;

}

#course .enrolled {
    background-color: #a877b0;
    color: #eee;
    cursor: not-allowed;
}