/* ************************************************************* */
::selection {
    background-color: brown;
    color: aquamarine;
}

.cv {
    background-image: url(./img/post-3.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}
.title0 {
    display: block;
    width: 100%;
}

#icon {
    position: relative;
    position: fixed;
    left: 93%;
    top: 90%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aqua;
    font-size: 7px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: blanchedalmond; */
}

header h1 {
    color: antiquewhite;
    font-family: "Indie Flower", cursive;
    font-size: 50px;
    margin-top: 2rem;
    font-weight: 400;
}
header h2 {
    color: antiquewhite;
    margin-top: 20px;
    font-family: "Lobster", cursive;
    font-weight: 300;
    display: block;
    text-align: center;
    font-size: 30px;
}

header div h1 span {
    color: red;
}

header div h2::after {
    content: "";
    animation: typing 6s infinite;
}
@keyframes typing {
    0% {
        content: " |";
    }
    3% {
        content: " C |";
    }
    6% {
        content: " Co |";
    }
    9% {
        content: " Cou |";
    }
    12% {
        content: " Cour |";
    }
    15% {
        content: " Cours |";
    }
    18% {
        content: " Course |";
    }
    21% {
        content: " Courses |";
    }
    24% {
        content: " Courses  ";
    }
    27% {
        content: " Courses  |";
    }
    30% {
        content: " Courses|";
    }
    33% {
        content: " Course |";
    }
    36% {
        content: " Cours |";
    }
    39% {
        content: " Cour |";
    }
    42% {
        content: " Cou |";
    }
    45% {
        content: " Co |";
    }
    48% {
        content: " C |";
    }
    51% {
        content: "  ";
    }
    54% {
        content: "   |";
    }
    57% {
        content: " ";
    }
    60% {
        content: " E |";
    }
    63% {
        content: " Ex |";
    }
    66% {
        content: " Exa |";
    }
    69% {
        content: " Exam |";
    }
    72% {
        content: " Exams |";
    }
    75% {
        content: " Exams ";
    }
    78% {
        content: " Exams | ";
    }
    81% {
        content: " Exams|";
    }
    85% {
        content: " Exam |";
    }
    88% {
        content: " Exa |";
    }
    91% {
        content: " Ex |";
    }
    94% {
        content: " E |";
    }
    97% {
        content: "  |";
    }
    99% {
        content: "  ";
    }
    100% {
        content: " |";
    }
}

/* quiry for service section  */
@media only screen and (max-width: 768px) {
    .cv {
        background-image: url(./img/post-3.jpg);
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;

        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.652);
    }
}

body {
    background-color: #eee;
    font-family: "Roboto", sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
nav {
    background-color: rgb(110, 56, 119);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav p {
    font-family: "Indie Flower", cursive;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul li {
    border-right: 1px solid #eeeeee70;
    padding: 5px 15px;
}
nav ul li a:hover {
    color: rgba(238, 255, 135, 0.69);
}

nav ul li:last-child {
    border-right: none;
}
nav ul a {
    text-decoration: none;
    color: #eee;
}
nav img {
    width: 25px;
}

/* Home Rules */
main {
    padding: 2rem;
    padding-top: 5rem;
}
.container {
    display: flex;
    justify-content: center;
    gap: 1.3rem;
    flex-wrap: wrap;
}
.card {
    background-color: white;
    width: 250px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    animation: popup 0.5s ease-in-out forwards;
    position: relative;
}
@keyframes popup {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.card:hover {
    box-shadow: 1px 1px 2px 0px gray;
    transform: scale(1.1);
}
.category {
    position: absolute;
    background-color: rgba(99, 32, 99, 0.674);
    color: white;
    padding: 5px;
    font-size: 10px;
    opacity: 0.8;
    top: 0;
    right: 0;
}
.category:hover {
    opacity: 1;
}
.card .img img {
    width: 250px;
    height: 130px;
    object-fit: cover;
}
.text {
    padding: 5px 10px;
}
.card h4 {
    font-size: 14px;
    margin-bottom: 5px;
}
.details {
    display: flex;
    justify-content: space-between;
}
.details p:last-child {
    color: orange;
}
.card p {
    font-size: 10px;
}

.control {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 0 2rem;
}

.control select {
    border: none;
    background-color: #eee;
    padding: 0.3rem;
    outline: none;
}

.control option {
    border: none;
    background-color: #ffffff;
}
.control option:hover {
    background-color: royalblue;
    color: white;
}
.filter {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.control .search {
    position: relative;
}
.control .search input {
    border: none;
    background-color: white;
    box-shadow: 1px 1px 2px 0px rgb(58, 6, 58);
    padding: 0.3rem 0.5rem 0.3rem 2rem;
    border-radius: 10px;
    outline: none;
    width: 200px;
    transition: all 0.4s ease-in-out;
}
.control .search input:focus {
    width: 250px;
}
.control .search i {
    position: absolute;
    font-size: 10px;
    left: 10px;
    top: 8px;
    opacity: 40%;
    border-right: 1px solid gray;
    padding-right: 0.3rem;
}

#user_icon {
    cursor: pointer;
}
#user {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: white;
    right: 0.8rem;
    top: 3rem;
    font-size: 1rem;
    box-shadow: 0 0 5px 0px rgb(47, 46, 46);
    margin-top: 0.5rem;
    border-radius: 5px;
}
#user::after {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ffffff;
    position: absolute;
    top: -4px;
    right: 26%;
}
#user a {
    padding: 0.5rem;
    text-decoration: none;
    color: rgb(110, 56, 119);
}

#user a:hover {
    background-color: rgb(110, 56, 119);
    color: white;
}

/******************************** */

/* footer */
.footer-container {
    display: flex;
    padding: 20px 35px;
    background-color: rgb(54, 2, 65);
    color: #dadada;
}

.footer-container div {
    width: 33.333333%;
    padding: 42px;
}
.footer-container h2 {
    font-size: 36px;
    font-weight: bold;
    padding: 0 0 10px 0;
}
.footer-container #logo {
    font-family: "Indie Flower", cursive;
    cursor: pointer;
}

.footer-courses ul {
    padding: 0px 16px;
}
.footer-courses li a {
    text-decoration: none;
    padding: 6px 8px 0 0;
    cursor: pointer;
    display: inline-block;
    color: #dadada;
}

.footer-courses a:visited {
    color: #dadada;
}
.follow-us ion-icon {
    font-size: 32px;
    padding: 10px 6px;
}
.facebook {
    color: #385898;
}
.twitter {
    color: rgb(29, 155, 240);
}
.youtube {
    color: #c00;
}

.linkedin {
    color: #0a66c2;
}
.instgrame {
    color: #e1306c;
}
.copyright {
    text-align: center;
    padding: 16px 32px;
    background-color: rgb(33, 2, 39);
    color: #fff;
    letter-spacing: 1px;
}
/**************************************/

mark {
    color: rebeccapurple;
    background-color: orange;
    font-size: 30px;
}
/* ----------------------------------------- */
#topping {
    position: fixed;
    visibility: visible;
    opacity: 1;
    right: 15px;
    bottom: 15px;
    background: #0078ff;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
    color: #dadada;
    display: flex;
    justify-content: center;
    align-items: center;
}
#topping:hover {
    opacity: 0.7;
}
