body{
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    background-color: #6E3877;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

nav h1{
    font-family: 'Indie Flower', cursive;
    color: white;

}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul li {
    border-right: 1px solid #eeeeee70;
    padding: 5px 15px;
}
nav ul li a:hover{
    color: rgba(238, 255, 135, 0.69);
}

nav ul li:last-child {
    border-right: none;
}
nav ul a {
    text-decoration: none;
    color: #eee;

}
nav img{
    width: 25px;
}


/* Home Rules */
main{
padding: 2rem;
}
.container{
    display: flex;
    justify-content: center;
    gap: 1.3rem;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    width: 200px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.card:hover{
    box-shadow: 1px 1px 2px 0px  gray;
    transform: scale(1.1);
}

.card .img img {
    width: 200px;
    object-fit: cover;
}
.text{
    padding:5px 10px;
}
.card h4{
    font-size: 14px;
    margin-bottom: 5px;
}
.details{
    display: flex;
    justify-content: space-between;
}
.details p:last-child{
    color: orange;
}
.card p {
    font-size: 10px;
}

.control{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.filter{
    display: flex;
    gap: 1rem;
}

