.header {
    background-image: url(../Assets/about-us/header.jpg);
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-text {
    color: #eee;
    padding: 36px 64px;
    width: 65%;
    margin-top: 50px;
}
.header-text h1 {
    padding-bottom: 42px;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 32px;
}
.header-text p {
    font-size: 16px;
    line-height: 1.5;
    color: #d1d1d1;
    margin-bottom: 32px;
}

.header-text a {
    font-size: 20px;
    background-color: #6e3877;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
}
.header-text a:hover {
    color: #6e3877;
    background-color: #fff;
}
.our-goals {
    padding: 36px 64px;
}
.our-goals h2 {
    margin-bottom: 20px;
    color: #6e3877;
    display: inline-block;
    font-size: 36px;
    border-bottom: #6e3877 5px solid;
}

.row-one,
.row-two {
    display: flex;
    padding-top: 24px;
    padding: 24px 32px;
}
ion-icon {
    padding: 10px 20px;
    font-size: 64px;
    color: #6e3877da;
    text-align: center;
    margin-left: 80px;
}

.our-goals-card div {
    margin-bottom: 24px;
}
.our-goals-card h3 {
    color: #2b2a2acc;
    font-size: 32px;
    margin-bottom: 8px;
}
.our-goals-card p {
    color: #777;
    font-size: 20px;
}
